h1 {
  color: rgb(255, 159, 159);
  font-size: 20px;
}

body {
  background-color: #353535;
}

.MainTitle {
  color: rgb(73, 73, 73);
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  left: 5%;
  font-family: "Michroma", sans-serif;
  text-align: center;
  animation: glow 1.5s infinite alternate;
  text-shadow: 0 0 8px #f85252, 0 0 16px #ec6d6d, 0 0 24px #ec6d6d;
}

.container {
  margin-left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
}

.Slides {
  margin-top: 2%;
  display: inline-block;
}

.slide {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.item {
  color: #ffffff;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 100px;
  font-family: "Michroma", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  margin: 1px;
}

.pokemon {
  transition: transform 0.4s ease;
}

.pokemon:hover {
  transform: scale(2, 2);
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px #f85d52, 0 0 16px #ec6d6d, 0 0 24px #ec6d6d;
  }

  to {
    text-shadow: 0 0 4px #ff4f4f, 0 0 6px #ec6d6d, 0 0 12px #ec6d6d;
  }
}