html {
  scroll-behavior: smooth;
}

h1 {
  color: rgb(255, 159, 159);

}

body {
  background-color: #ffffff;
  margin: 0;
}

.TopSection {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #d4d4d4;
  border-left: none;
  border-right: none;
}

.MainTitle {
  margin-left: 3%;
  color: rgb(24, 24, 24);
  font-size: 1vmax;
  position: relative;
  font-family: "Michroma", sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 1%;
  /*animation: glow 1.5s infinite alternate;*/
  /*text-shadow: 0 0 8px #000000, 0 0 16px #474747, 0 0 24px #070707;*/
}

.mainTitleSymbol {
  transform-origin: 45% 50%;
  animation: rotatePeriodic 5s infinite forwards;
}

.container {
  width: 48.5%;
  height: 100%;
  margin-right: 3%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.BriefingSection {
  height: 50vh;
  display: flex;
    align-content: space-around;
    align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin: 2%;
  padding: 10%;
}

.About {
  width: 50%;
  text-align: justify;
  margin: 0;
  font-size: 2vh;
  overflow: hidden;
}

.AboutHeading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20vmin;
  text-align: left;
  color: #313131;
  opacity: 0;
  margin: 0;
  animation: fade-in 2s ease-out forwards;
  animation-delay: 1s;
}

.AboutText {
  color: #5f5f5f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
}

.SelfieImage {
  transform-origin: 50% 50%;
  height: 50vmin;
  border-radius: 50px;
}

.Slider {
  display: block;
  height: 100vh;
  width: 100vw;
  align-items: center;
  overflow-x: scroll;
}

.slide {
  width: 100vw;
}

.item {
  color: #000000;
  cursor: pointer;
  height: 100%;
  margin-left: 10%;
  font-family: "Michroma", sans-serif;
  font-size: 1.6vmin;
  align-content: center;
  text-align: center;
  border: 0px solid #5e5d77;
  border-left: none;
  border-right: none;
  border-bottom: none;
  transition: border 0.5s, font-size 0.5s;
}

.item:hover {
  font-size: 1.9vmin;
  border: 6px solid #5f54fa;
  border-left: none;
  border-right: none;
  border-bottom: none;
}


.pokemon {
  transition: transform 0.4s ease;
}

.pokemon:hover {
  transform: scale(2, 2);
}

@keyframes rotatePeriodic {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px #838282, 0 0 16px #3f3f3f, 0 0 24px #535353;
  }

  to {
    text-shadow: 0 0 4px #474747, 0 0 6px #d8d8d8, 0 0 12px #0c0c0c;
  }
}